<h1>Welcome to Fantasy Congress </h1>

<% if Team.find_by_user_id(current_user.id) == nil %>


  <%= link_to 'Create a new caucus', new_team_path %>

<% else %><br/>
  Team Name:<%= Team.find_by_user_id(current_user.id).name %>

  <% team = Team.find_by_user_id(current_user.id) %><br/>

  <% if team.positions.count < 5 %>
      <%= link_to "add legislators", new_team_position_path(team) %>
      <% team.representatives.all.each do |rep| %><br/>
        <%= rep.firstname %> <%= rep.lastname %> Rep Points: <%= find_points(rep) %><br />
      <% end%>
      <br/>
  <% else %>
      <% team.representatives.all.each do |rep| %>
        <%= rep.firstname %> <%= rep.lastname %> Rep Points: <%= find_points(rep) %><br />
      <% end%>
  <% end %>

  <br/>


  <%= link_to "delete this team", team_path(team.id), :method => :delete %>

<% end %>