<h1> Create your caucus </h1><br/>



<%= form_for @team do |f| %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %><br/>
  </p>

  <%= f.fields_for :representatives do |builder| %>
    <p>
      <%= render 'representatives_form', :f => builder %>
    </p>
  <%end %>

  <%= f.submit %>

<% end %>
