<h1><%= @league.name %></h1>

<h4>Teams</h4>
<ul>
<% @teams.each do |team| %>
  <li><%= team.name + ' : ' + team.user.email %></li>
<% end %>
</ul>

<button id="join_league">Join League</button>

<div class='padded'>
  <%= form_for [@league, @team], remote: true, :html => {:class => "new_team"} do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit %>
  <% end %>
</div>